keybinds clear-defaults=true {
    normal {
        // Pane navigation with Ctrl+h/j/k/l
        bind "Ctrl h" { MoveFocus "Left"; }
        bind "Ctrl j" { MoveFocus "Down"; }
        bind "Ctrl k" { MoveFocus "Up"; }
        bind "Ctrl l" { MoveFocus "Right"; }

        bind "Ctrl b" { SwitchToMode "pane"; }

        // Toggle floating terminal with Super+t
        bind "Super t" { ToggleFloatingPanes; }

        // Pane resizing with Alt+h/j/k/l
        bind "Alt h" { Resize "Left"; }
        bind "Alt j" { Resize "Down"; }
        bind "Alt k" { Resize "Up"; }
        bind "Alt l" { Resize "Right"; }

        // Tab management
        bind "Alt n" { NewTab; }
        bind "Super r" { SwitchToMode "RenameTab"; }
        bind "Alt Left" { GoToPreviousTab; }
        bind "Alt Right" { GoToNextTab; }
    }

    pane {
        bind "\\" { NewPane "Right"; SwitchToMode "normal"; }
        bind "-" { NewPane "Down"; SwitchToMode "normal"; }
        bind "Esc" { SwitchToMode "normal"; }
    }

    // Minimal mode for tab renaming
    renametab {
        bind "Esc" { SwitchToMode "Normal"; }
        bind "Enter" { SwitchToMode "Normal"; }
    }
}

theme "tokyo-night-dark"
default_layout "compact"
pane_frames false
copy_on_select true
scroll_buffer_size 10000
show_startup_tips false
ui {
    pane_frames {
        rounded_corners false
        hide_session_name false
    }
}

layout {
default_tab_template {
        pane size=2 borderless=true {
            plugin location="file:.config/zellij/plugins/zjstatus.wasm" {
                // Nord theme                          
                color_fg "#616e88" //= Brightest + 10% - "#4C566A" = Brightest - "#434C5E" = Bright
                color_bg "#2E3440"
                color_black "#3B4252"
                color_red "#BF616A"
                color_green "#A3BE8C"
                color_yellow "#EBCB8B"
                color_blue "#81A1C1"
                color_magenta "#B48EAD"
                color_cyan "#88C0D0"
                color_white "#E5E9F0"
                color_orange "#D08770"
                
                format_left   "{mode}#[bg=$bg] {tabs}"
                format_center "#[bg=$bg,fg=$fg] Zellij: #[bg=$bg,fg=$fg]{session}"
                format_right  "{datetime}"
                format_space  "#[bg=$bg]"
                format_hide_on_overlength "true"
                format_precedence "crl"

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"

                mode_normal        "#[bg=$green,fg=$bg,bold] NORMAL#[bg=$bg,fg=$green]"
                mode_locked        "#[bg=$red,fg=$bg,bold] LOCKED #[bg=$bg,fg=$red]"
                mode_resize        "#[bg=$blue,fg=$bg,bold] RESIZE#[bg=$bg,fg=$blue]"
                mode_pane          "#[bg=$blue,fg=$bg,bold] PANE#[bg=$bg,fg=$blue]"
                mode_tab           "#[bg=$yellow,fg=$bg,bold] TAB#[bg=$bg,fg=$yellow]"
                mode_scroll        "#[bg=$blue,fg=$bg,bold] SCROLL#[bg=$bg,fg=$blue]"
                mode_enter_search  "#[bg=$orange,fg=$bg,bold] ENT-SEARCH#[bg=$bg,fg=$orange]"
                mode_search        "#[bg=$orange,fg=$bg,bold] SEARCHARCH#[bg=$bg,fg=$orange]"
                mode_rename_tab    "#[bg=$yellow,fg=$bg,bold] RENAME-TAB#[bg=$bg,fg=$yellow]"
                mode_rename_pane   "#[bg=$blue,fg=$bg,bold] RENAME-PANE#[bg=$bg,fg=$blue]"
                mode_session       "#[bg=$blue,fg=$bg,bold] SESSION#[bg=$bg,fg=$blue]"
                mode_move          "#[bg=$blue,fg=$bg,bold] MOVE#[bg=$bg,fg=$blue]"
                mode_prompt        "#[bg=$blue,fg=$bg,bold] PROMPT#[bg=$bg,fg=$blue]"
                mode_tmux          "#[bg=$magenta,fg=$bg,bold] TMUX#[bg=$bg,fg=$magenta]"

                // formatting for inactive tabs
                tab_normal              "#[bg=$bg,fg=$cyan]#[bg=$cyan,fg=$bg,bold]{index} #[bg=$bg,fg=$cyan,bold] {name}{floating_indicator}#[bg=$bg,fg=$bg,bold]"
                tab_normal_fullscreen   "#[bg=$bg,fg=$cyan]#[bg=$cyan,fg=$bg,bold]{index} #[bg=$bg,fg=$cyan,bold] {name}{fullscreen_indicator}#[bg=$bg,fg=$bg,bold]"
                tab_normal_sync         "#[bg=$bg,fg=$cyan]#[bg=$cyan,fg=$bg,bold]{index} #[bg=$bg,fg=$cyan,bold] {name}{sync_indicator}#[bg=$bg,fg=$bg,bold]"

                // formatting for the current active tab
                tab_active              "#[bg=$bg,fg=$yellow]#[bg=$yellow,fg=$bg,bold]{index} #[bg=$bg,fg=$yellow,bold] {name}{floating_indicator}#[bg=$bg,fg=$bg,bold]"
                tab_active_fullscreen   "#[bg=$bg,fg=$yellow]#[bg=$yellow,fg=$bg,bold]{index} #[bg=$bg,fg=$yellow,bold] {name}{fullscreen_indicator}#[bg=$bg,fg=$bg,bold]"
                tab_active_sync         "#[bg=$bg,fg=$yellow]#[bg=$yellow,fg=$bg,bold]{index} #[bg=$bg,fg=$yellow,bold] {name}{sync_indicator}#[bg=$bg,fg=$bg,bold]"

                // separator between the tabs
                tab_separator           "#[bg=$bg] "

                // indicators
                tab_sync_indicator       " "
                tab_fullscreen_indicator " 󰊓"
                tab_floating_indicator   " 󰹙"

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=$blue] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

                datetime        "#[fg=$fg] {format} "
                datetime_format "%Y-%m-%d %H:%M"
                datetime_timezone "Europe/Helsinki"
            }
        }
        children
    }
}
