name: Check Nix flake
on:
  pull_request:
jobs:
  check-flake:
    runs-on: ubuntu-latest
    steps:
      - uses: wimpysworld/nothing-but-nix@main
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v16
        with:
          name: mrjones2014-dotfiles
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: Run nix flake check
        run: nix flake check
