name: github pages
on:
  push:
    branches:
      - master
  workflow_dispatch: # allow manual trigger
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@27
      - name: Build mdbook site
        run: nix build ./docs/
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./result/
