name: Deploy to GitHub Pages
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  release:
    name: GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v1
      - name: Setup mdBook
        run: |
          export MDBOOK_VERSION="v0.4.28"
          export MDBOOK_TARBALL="mdbook-${MDBOOK_VERSION}-x86_64-unknown-linux-gnu.tar.gz"
          wget -q "https://github.com/rust-lang/mdBook/releases/download/${MDBOOK_VERSION}/${MDBOOK_TARBALL}"
          tar -zxvf "${MDBOOK_TARBALL}"
          rm "${MDBOOK_TARBALL}"
          mkdir ~/bin
          mv ./mdbook ~/bin/
          echo "::add-path::~/bin"
      - name: Build Book
        run: mdbook build docs
      - name: Deploy Book
        env:
          ACTIONS_DEPLOY_KEY: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: ./docs/book
          SCRIPT_MODE: true
        run: |
          wget https://raw.githubusercontent.com/peaceiris/actions-gh-pages/v2.5.0/entrypoint.sh
          bash ./entrypoint.sh
